@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');
body{
    font-family: 'Roboto Slab', serif;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.centre_container{
    max-width: 600px;
    margin: auto;
}