@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;600&display=swap');
body{
    font-family: 'Roboto Slab', serif;
}
:root{
    --primary-color:#be123c;
}
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}
.centre_container{
    max-width: 600px;
    margin: auto;
}
.Link{
    text-decoration: none;
    padding: 0.3rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}
.link-secondary
{
    color: var(--primary-color);
    margin: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    

}